/* 모든 화면에 상태바 status-bar가 있기 때문에 따로 css파일 만들어 놓는다. */
/* 시계가 중심이 아니게 되는데, 이를 해결하기 위해서 css heck을 사용한다.  */
.status-bar {
	position: fixed;
	top: 0px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	padding: 5px 3px;
}

.status-bar__column {
	width: 33%;
}

.status-bar__column:first-child span {
	margin-right: 5px;
}

.status-bar__column:nth-child(2) {
	display: flex;
	justify-content: center;
}

.status-bar__column:last-child {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.status-bar__column .fa-battery-full {
	margin: 0px 5px;
}
